@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-size: 1em; 
  font-family: "Roboto Mono"; 
  box-sizing: border-box; 
  color: white; 
}

body {
  display: flex; 
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  background-image: linear-gradient(45deg, rgba(41, 46, 85,0.2) 0%, rgba(41, 46, 85,0.2) 14.286%,rgba(8, 63, 48,0.2) 14.286%, rgba(8, 63, 48,0.2) 28.572%,rgba(91, 21, 141,0.2) 28.572%, rgba(91, 21, 141,0.2) 42.858%,rgba(58, 38, 104,0.2) 42.858%, rgba(58, 38, 104,0.2) 57.144%,rgba(25, 55, 67,0.2) 57.144%, rgba(25, 55, 67,0.2) 71.43%,rgba(108, 13, 159,0.2) 71.43%, rgba(108, 13, 159,0.2) 85.716%,rgba(75, 30, 122,0.2) 85.716%, rgba(75, 30, 122,0.2) 100.002%),linear-gradient(135deg, rgba(41, 46, 85,0.2) 0%, rgba(41, 46, 85,0.2) 14.286%,rgba(8, 63, 48,0.2) 14.286%, rgba(8, 63, 48,0.2) 28.572%,rgba(91, 21, 141,0.2) 28.572%, rgba(91, 21, 141,0.2) 42.858%,rgba(58, 38, 104,0.2) 42.858%, rgba(58, 38, 104,0.2) 57.144%,rgba(25, 55, 67,0.2) 57.144%, rgba(25, 55, 67,0.2) 71.43%,rgba(108, 13, 159,0.2) 71.43%, rgba(108, 13, 159,0.2) 85.716%,rgba(75, 30, 122,0.2) 85.716%, rgba(75, 30, 122,0.2) 100.002%),linear-gradient(0deg, rgba(41, 46, 85,0.2) 0%, rgba(41, 46, 85,0.2) 14.286%,rgba(8, 63, 48,0.2) 14.286%, rgba(8, 63, 48,0.2) 28.572%,rgba(91, 21, 141,0.2) 28.572%, rgba(91, 21, 141,0.2) 42.858%,rgba(58, 38, 104,0.2) 42.858%, rgba(58, 38, 104,0.2) 57.144%,rgba(25, 55, 67,0.2) 57.144%, rgba(25, 55, 67,0.2) 71.43%,rgba(108, 13, 159,0.2) 71.43%, rgba(108, 13, 159,0.2) 85.716%,rgba(75, 30, 122,0.2) 85.716%, rgba(75, 30, 122,0.2) 100.002%),linear-gradient(90deg, rgb(3, 20, 35),rgb(76, 9, 223));
}

.title {
  font-size: 3em;
  margin: 10px;
  font-weight: 500; 
  align-items: center;
}

.title::before,
.title::after {
  content: "110010";
  opacity: 0.15;
}

.container {
  padding: 20px;
  width: 600px;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  
}

.subtitle{
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 0.9em;
}

.input {
  width: 80%;
  margin: 0 auto 20px auto;
  height: 50px;
  border: 1px solid white;
  background: transparent;
  border-radius: 5px;
  outline: none;
  font-size: 2em;
  padding: 10px;
}

.result {
  font-size: 2.5em;
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translatex(-50%);
}

.waitText {
  text-align: center;
}

/* efeito pisca-pisca*/
@keyframes blinker {
      to { opacity: 0; }
    }

.waitText {
    animation: blinker 1s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
  }
